/*:root {
    --bg-main: #F5F7FB;
    --bg-card: #FFFFFF;
    --bg-panel: #FFFFFF;
    --text-main: #1F2937;
    --text-muted: #6B7280;
    --primary: #8b5cf6;
    --accent: #B8F34A;
    --border-soft: #E6E8EE;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, sans-serif;
}

body {
    background: #F5F7FB;
    color: #1F2937;
    min-height: 100vh;
    padding: 30px;
}

.badge {
    display: inline-block;
    background: #8b5cf6;
    color: white;
    padding: 7px 12px;
    border-radius: 999px;
    font-size: 12px;
    width: fit-content;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #242428;
    color: #f4f4f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.logo {
    width: 42px;
    height: 42px;
    border-radius: 14px;
    background: linear-gradient(135deg, #8b5cf6, #a3e635);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #111;
    font-size: 18px;
}*/

:root {
    --bg-main: #F5F0E9;
    --bg-card: #FFFFFF;
    --bg-panel: #FFFFFF;

    --primary: #4B1535;
    --primary-soft: #7A3A5B;
    --primary-light: #EFE3EA;

    --text-main: #2B1A24;
    --text-muted: #7B6A72;

    --border-soft: #E6D9DF;
    --surface-soft: #F1E8EC;
    --surface-hover: #EADDE4;

    --shadow-soft: 0 10px 30px rgba(75, 21, 53, 0.08);
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, sans-serif;
}

body {
    background: var(--bg-main);
    color: var(--text-main);
    min-height: 100vh;
    padding: 0px;
}

.badge {
    display: inline-block;
    background: var(--primary);
    color: #FFFFFF;
    padding: 7px 12px;
    border-radius: 999px;
    font-size: 12px;
    width: fit-content;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--surface-soft);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.2s ease;
}

.icon-btn:hover {
    background: var(--surface-hover);
}

.logo {
    width: 42px;
    height: 42px;
    border-radius: 14px;
    background: linear-gradient(135deg, var(--primary), var(--primary-soft));
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #FFFFFF;
    font-size: 18px;
}

.avatar-main {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--primary-soft), var(--primary));
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}